<h1>Home</h1>
<p>Bobby Richmond first rails! very original chosen one</p>
<%= link_to "My Blogg", posts_path %>
<p>Lets take a look at all the possible badges.</p>
<%= link_to "Badges", badges_path %>
